@use '../abstracts/' as *;

/* Footer start*/
footer {
	background-color: var(--clr-dark);
	color: var(--clr-light);

	// temporary styling
	--appbar-height: 49.25px;
	margin-bottom: var(--appbar-height);
}

/* Footer end*/
