@use '../abstracts/' as *;

/* Grid start*/

#aside {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

@include mq(medium) {
	.content {
		display: grid;
		grid-template-columns:
			var(--sidebar-width)
			min(var(--content-width, $default-content-width), 100%);
		grid-template-rows:
			min-content
			1fr
			min-content;
	}

	#header {
		grid-column: 2 / span 1;
	}

	#aside {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}

	#main {
		grid-column: 2 / span 1;
		grid-row: 2 / 4;
		background-color: pink;
	}
}

.full-bleed {
	width: 100%;
	grid-column: 1 / 4;
}

/* Grid end*/
