@use '../abstracts/' as *;

/* Header start*/
header {
	background-color: var(--clr-plum-10);
	border-bottom: 1px solid var(--clr-gray-20);

	padding: var(--size-4);

	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 1rem;
}

.search-box {
	@include flex-center($dir: row, $gap: 0);
	flex: 1 1 500px;

	input {
		padding-inline-start: var(--size-4);
		padding-block: var(--size-2);
		width: 80%;
		max-width: 700px;
		border-radius: var(--size-4);
	}

	.no-style-btn {
		background: none;
		border: none;
	}
}
.account-info-box {
	align-self: flex-end;

	display: flex;
	gap: var(--size-3);

	margin-inline-start: auto;
}

#avatar {
	background-color: var(--clr-pink-20);
	border-radius: var(--size-10);
}

#msg-indicator {
	@include pseudo(before, $pos: absolute, $content: attr(data-message-count));
	margin-inline-start: var(--size-5);
}

#msg-indicator::before {
	@include flex-center;

	width: 1.25rem;
	height: 1.25rem;
	padding: 12px;
	top: -10px;
	left: -34px;
	border-radius: 100%;
	font-size: var(--fs--1);
	color: var(--clr-dark);
	background-color: white;
	outline: 2px solid var(--clr-primary-dark);
}

/* Header end*/
