@use '../abstracts/' as *;

/* Navigation start*/
.nav-wrapper {
	display: flex;
	gap: var(--size-4);

	@include mq(small) {
		flex-direction: column;
	}
}

/* Primary navigation styles */
.primary-navigation,
.secondary-navigation {
	@include flex-center;
}

.nav-list {
	list-style: none;
	margin-block-end: 0;

	display: flex;
	justify-content: flex-start;
	gap: var(--size-6);

	@include mq(small) {
		flex-direction: column;
	}
}

.nav-link,
 [class="appsettings-show"] /* Popover trigger buttons*/ {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: var(--size-4);

	border-radius: var(--size-4);
	text-decoration: none;

	--_bg-clr: var(--clr-dark);
	--_text-clr: var(--clr-light);

	/* Small screens: state indicator is only around the icon */
	/* Large screens: state indicator is the link */

	/* Small screen hover state */
	&:hover .icon {
		background-color: var(--_text-clr);
		color: var(--_bg-clr);

		&:active {
			scale: 0.95;
		}
	}

	/* Large screen hover state */
	&:hover {
		background-color: var(--_text-clr);
		color: var(--_bg-clr);

		/* Force icon to behave as link text */
		&:active .icon {
			background-color: inherit;
			color: inherit;
		}
	}

	/* Apply links' focus-visible styles to nav icons on small screens */
	&:focus-within .icon {
		outline-style: solid;
		outline-offset: var(--link-outline-offset, 2px);
		outline-color: currentColor;
		outline-width: var(--link-outline-width, 2px);

		text-decoration-color: transparent;

		/* Remove outline from icons on large screens */
		@include mq(small) {
			outline-color: transparent;
		}
	}

	/* Hide focus outline on small screens, icon already indicates focus */
	&:focus-visible {
		outline-color: transparent;
	}

	/* Add visible outline to .nav-link */
	&:focus-visible {
		@include mq(small) {
			outline-color: currentColor;
		}
	}

	.icon {
		display: inline-block;
		block-size: 1.5lh;
		border-radius: var(--size-3);

		@include mq(small) {
			block-size: 1.15lh;
		}
	}

	@include mq(small) {
		// THIS SHOULD GO MORE UP TO THE ROOT LEVEL OF THE SELECTOR
		// PADDING ISSUE
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: var(--size-4);

		border-radius: var(--size-4);
		padding: var(--size-4);
	}
}

.nav-link-text {
	@include mq(small) {
		padding: var(--size-3) var(--size-3) var(--size-1);
	}
}

/* Hide on small screen. Svg <title> will add the accessible name*/
@media (width <= 480px) {
	.nav-link-text {
		display: none;
	}
}

/* Secondary navigation styles */
/* Divider */
.appsettings-show {
	margin-inline-start: var(--size-6);

	@include pseudo($element: before, $pos: absolute);

	&::before {
		border-left: 2px solid var(--clr-gray-50);
		height: 100%;
		left: -0.75em;

		@include mq(small) {
			display: none;
		}
	}
}

/* Remove default browser button styles to match the nav-link styling */
[class^='appsettings'] {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;

	@include mq(small) {
		display: none;
	}

	.icon {
		block-size: 1.5lh;
	}
}

[class='appsettings-hide'] {
	background-color: white;
	color: var(--clr-dark);
	align-self: flex-end;
	margin-block-end: 1rem;
	margin-inline-end: 1rem;
	border-radius: var(--size-4);

	&:hover {
		background-color: var(--clr-dark);

		& .icon {
			color: white;
		}
	}

	&:focus-visible {
		outline-style: solid;
		outline-color: currentColor;
		outline-width: var(--link-outline-width, 2px);
	}
}

.secondary-navigation {
	position: relative;
}

/* Popover */
[popover] {
	/* Remove `popover` default styling*/
	border: none;
	padding: 0;
	inset: unset;
	/* Position as inset is cleared */
	bottom: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: var(--size-6);

	width: 250px;
	height: 100vh;

	box-shadow: var(--shadow-small);
	list-style: none;

	opacity: 0;
	transition:
		opacity 1s,
		display 1s;
	transition-behavior: allow-discrete;

	/* Reset popover styles to act like a regular element in normal document flow on large screens*/
	@include mq(small) {
		align-items: flex-start;
		gap: var(--size-4);
		opacity: 1;
		background-color: var(--body-text-clr);
		overflow: visible;

		position: static;
		height: auto;
		width: auto;
	}

	&:popover-open {
		opacity: 1;

		@starting-style {
			display: flex;
			opacity: 0;
		}
	}

	/* Swapping colors to blend into parents*/
	.nav-link {
		--_bg-clr: white;
		--_text-clr: var(--clr-dark);
		padding: var(--size-4);

		@include mq(small) {
			--_bg-clr: var(--clr-dark);
			--_text-clr: var(--clr-light);
		}

		&:focus-visible {
			outline-color: var(--clr-dark);
			outline-offset: 0;

			@include mq(small) {
				outline-color: var(--clr-light);
			}
		}
	}
}

::backdrop {
	backdrop-filter: blur(2px);
}

/* Navigation end*/
