@use '../abstracts/' as *;

/* Sidebar start*/
aside {
	background-color: var(--clr-dark);
	color: var(--clr-light);
	padding-block-end: var(--size-6);

	@include flex-center;

	.logo {
		margin-block-start: var(--size-6);
	}
}
/* Sidebar end*/
