@use '../abstracts/' as *;

@use '../../../../node_modules/utopia-core-scss/src/utopia.scss' as utopia;

/* Root start */

//* fonts */
:root {
	@include utopia.generateTypeScale($utopia-config);
}
:root {
	@include create-prop-from-map($font-families, 'ff', '-');
}
:root {
	@include create-prop-from-map($font-weight-aliases);
}

//* lengths */
:root {
	@include create-prop-from-map($widths);
}
:root {
	@include create-prop-from-map($sizes, 'size', '-');
}
:root {
	@include create-prop-from-map($offsets);
}

//* colors */
:root {
	@include create-base-colors;
}
:root {
	@include create-shades(gray);
}
:root {
	@include create-shades($colors);
}

//* box-shadow */
:root {
	@include create-prop-from-map($shadows, 'shadow', '-');
	@include create-shadow-color($primary-dark, $alpha: -25%);
}
/* Root end */

html {
	--clr-primary-light: var(--clr-plum-10);
	--clr-primary: var(--clr-plum-30);
	--clr-primary-dark: var(--clr-plum-50);

	--clr-secondary-light: var(--clr-peach-10);
	--clr-secondary: var(--clr-peach-30);
	--clr-secondary-dark: var(--clr-peach-50);

	--clr-tertiary-light: var(--clr-pink-10);
	--clr-tertiary: var(--clr-pink-30);
	--clr-tertiary-dark: var(--clr-pink-50);
}
