@use '../abstracts/' as *;

/* Utils start */

.center-text {
	text-align: center;
}

.visually-hidden:not(:focus):not(:active) {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.flex-center {
	@extend %flex-center;
}

.show-desktop {
	display: none;

	@include mq(medium) {
		display: inline-block;
	}
}

.show-mobile {
	display: inline-block;

	@include mq(medium) {
		display: none;
	}
}

/* Utils end */
